.Button, .Button:active, .Button:hover {
    background-color: dimgrey;
    border: 1px solid dimgrey;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin: 10px;
    box-shadow: 2px 2px white;
}
