.flex-container {
    display: flex;
    justify-content: center;
}

.flex-item {
    text-decoration: none;
    width: 140px;
    height: 40px;
    display: inline-block;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    color: white;
    margin: 2px 20px;
}